---
import FadeIn from "./FadeInWrapper";
import { Image } from "astro:assets";
import Rectangle from "../assets/Rectangle 1.png";
import RectangleBigger from "../assets/Rectangle 1-bigger.png";
import Missions from "../assets/missions.png";
import OurStorySection from "../components/OurStorySection.astro"
import CardsSection from "./CardsSection.astro";
import WaitlistModal from "./modals/WaitlistModal.astro";
---

<section class="">
  <!-- hero -->
  <section class="relative w-full h-[722px]">
    <Image
      src={Rectangle}
      alt="Happy couple in front of house"
      class="absolute inset-0 w-full h-full object-cover md:hidden"
    />
  
    <!-- Desktop image -->
    <Image
      src={RectangleBigger}
      alt="Desktop hero background"
      class="absolute inset-0 w-full h-[832px] object-cover hidden md:block"
    />
  
    <div
      class="relative z-10 leading-[58px] tracking-[-0.05px] flex flex-col justify-center items-center h-full text-center px-4 text-white"
    >
      <FadeIn client:load duration={100}>
        <h1 class="text-[30px] md:text-[48px] lg:text-[58px] font-[700] tracking-[-1.6px] leading-[55px] lg:leading-[65px] md:w-full md:text-[66px]]">
          On a mission to make housing
          <span class="lg:block md:inline"> cost effective without any</span>
          <span class="lg:block md:inline"> hassle.</span>
        </h1>
      </FadeIn>
    </div>
  </section>

  <!-- missions -->
  <div class="grid lg:grid-cols-2 md:grid-cols-1 lg:p-[100px] md:p-[50px] p-[40px] mt-[100px] lg:gap-[150px]">
    <FadeIn client:load duration={300}>
      <div class="space-y-3">
        <h2 class="font-bold text-4xl text-black">Our Mission</h2>
        <p class="font-normal text-[17px] leading-[31px] text-[#6B6B6B] mt-5">Rumah was founded in 2025 with a simple mission — to make house hunting easier, more transparent, and way less frustrating for everyone.</p>
        <p class="font-normal text-[17px] leading-[31px] text-[#6B6B6B]">We focus on clarity, trust, and access, not confusion, gatekeeping, or endless waiting. We believe in a housing experience that puts power back in the hands of regular people — where finding a home feels exciting, not exhausting.</p>
        <p class="font-normal text-[17px] leading-[31px] text-[#6B6B6B]">Our goal? To help people move better, live better, and feel more in control of their journey — whether it’s their first apartment or their next big step.</p>
        <p class="font-normal text-[17px] leading-[31px] text-[#6B6B6B]">Millions of people face the same problem we did. But we’re not stopping at just solving it — we’re reimagining it. The vision is big: a world where everyone has the tools, the options, and the confidence to find a space that truly fits.</p>
        <p class="font-normal text-[17px] leading-[31px] text-black">And we’re just getting started.</p>
      </div>
    </FadeIn>
    <FadeIn client:load duration={550}>
      <div class="w-[425px] 2xl:w-full h-[483px] rounded-[17px] md:hidden hidden lg:block">
        <Image
          src={Missions}
          alt="Missions"
          class="w-full h-full object-cover rounded-[17px"
        />
      </div>
    </FadeIn>
  </div>

  <!-- story -->
  <OurStorySection/>

  <!-- what sets us apart -->
   <CardsSection/>

  <!-- newsletter section -->
  <div class="lg:px-[100px] md:px-[50px] px-[40px] pb-[40px] mb-[100px]">
    <FadeIn client:load duration={300}>
      <h2 class="font-bold text-4xl text-black text-center">Join us in transforming housing experiences.</h2>
    </FadeIn>

    <FadeIn client:load duration={550}>
      <p class="font-light text-[25px] leading-[48px] text-black text-center mt-10">
        A platform where people can explore real homes within
        <span class="inline lg:block">their budget, see exactly what they’re getting, </span> 
        <span class="inline lg:block">and connect directly with agents who actually care.</span>
      </p>
    </FadeIn>

    <div class="flex justify-center items-center">
      <FadeIn client:load duration={250}>
        <button
          id="openModal"
          class="w-[170px] mt-6 h-[60px] text-white bg-black text-center"
        >
          Join the waitlist
        </button>
      </FadeIn>
    </div>

    <WaitlistModal />
  </div>

</section>
