---
import Story1 from "../assets/story1.png";
import Story2 from "../assets/story2.png";
import FadeIn from "./FadeInWrapper";
import { Image } from "astro:assets";
---

 <!-- image on smaller screen -->
 <div>
    <Image src={Story1} alt="Story image 1" class="w-full h-[483px] object-cover block lg:hidden"/>
  </div>

  <!-- on big screen -->
  <div class="grid lg:grid-cols-2 lg:gap-[100px] items-center px-[40px] md:px-[50px] lg:px-[100px]">
    <div class="space-y-[50px]">
      <Image src={Story1} alt="Story image 1" class="w-[419px] 2xl:w-full h-[338px] object-cover mr-[50px] hidden lg:block"/>
      <FadeIn client:load duration={400}>
          <Image src={Story2} alt="Story image 2" class="w-[419px] 2xl:w-full h-[483px] object-cover ml-[50px] hidden lg:block"/>
      </FadeIn>
    </div>
    <FadeIn client:load duration={300}>
        <div class="mt-10">
          <h2 class="font-bold text-4xl text-black">Our Story</h2>
          <div class="font-normal text-[17px] leading-[31px] text-[#6B6B6B] mt-10 space-y-[30px]">
            <p>Rumah was born from a problem we knew too well. You’ve got the money. You’re ready to rent. But somehow… you’re stuck. There are barely any houses to see, and even fewer agents who care. The ones you do find? Suddenly they’re special. They know they’re your only shot — even if they have nothing within your budget. So, you wait. You follow up. You hope.</p>
            <p>That feeling? We hated it. So we built Rumah — a platform where no one gets stuck. Where you can actually see what’s out there through quality pictures. Where agents don’t hold all the power. Where your budget doesn’t make you invisible.</p>
            <p>We believe house-hunting should feel like freedom, not frustration. It should be about finding your next space, not chasing shadows. Rumah gives you options. Gives you visibility. Gives you back control.</p>
            <p>We created this platform because we know what it’s like to feel stuck with no choices — and we know how powerful it feels when you finally have some!</p>
          </div>
        </div>
    </FadeIn>
  </div>

  <!-- second image on smaller screen -->
  <div>
    <Image src={Story2} alt="Story image 2" class="w-full h-[483px] object-cover block lg:hidden mt-10"/>
  </div>